In [2]:
import pandas as pd

In [3]:
schema_df = pd.read_csv('survey-results-schema.csv')
survey_df = pd.read_csv('survey-results-public.csv')

In [7]:
# Over view of the schema dataFrame
schema_df.head(5)

         Column                                           Question
0    Respondent                               Respondent ID number
1  Professional         Which of the following best describes you?
2  ProgramHobby  Do you program as a hobby or contribute to ope...
3       Country            In which country do you currently live?
4    University  Are you currently enrolled in a formal, degree...

In [11]:
# Overview of Survey dataFrame
survey_df.head(2)

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0

## Does employment status related to job satisfaction?

In [19]:
# Checked non value in the columns
survey_df['EmploymentStatus'].isnull().mean()

0.0

In [20]:
# check columns with no null values.
survey_df.columns[survey_df.isnull().mean()==0]

Index(['Respondent', 'Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation', 'JobSatisfaction'],
      dtype='object')

In [21]:
# Fill the job satisfaction
survey_df['JobSatisfaction'] = survey_df['JobSatisfaction'].fillna(survey_df['JobSatisfaction'].mean())
survey_df['JobSatisfaction'].isnull().mean()

0.0

In [23]:
survey_df.groupby('EmploymentStatus').mean()['JobSatisfaction']

EmploymentStatus
Employed full-time                                      6.928428
Employed part-time                                      6.879209
I prefer not to say                                     6.957078
Independent contractor, freelancer, or self-employed    7.202299
Not employed, and not looking for work                  6.957094
Not employed, but looking for work                      6.957078
Retired                                                 6.957078
Name: JobSatisfaction, dtype: float64

#### The job satisfaction level of the Independent contractor, freelancer, or self-employed is higher then any other group.

## Do you have programming as a hobby or contribute to open source projects?

In [24]:
# Checking the na value in the program hobby
survey_df['ProgramHobby'].isnull().mean()

0.0

In [25]:
survey_df.groupby('ProgramHobby').mean()['JobSatisfaction']

ProgramHobby
No                                           6.850297
Yes, I contribute to open source projects    7.027126
Yes, I program as a hobby                    6.924297
Yes, both                                    7.076633
Name: JobSatisfaction, dtype: float64

#### The reslut show that hobby and conributes have more satisfaction level in that group.

## Does Salary gives job satisfaction?

In [28]:
# The result show data frame contains null values to it
survey_df['Salary'].isnull().mean()

0.7491632938978829

In [30]:
survey_df['Salary'] = survey_df['Salary'].fillna(survey_df['Salary'].mean())

In [31]:
# Filled value with mean of the column
survey_df['Salary'].isnull().mean()

0.0

In [33]:
survey_df.groupby('JobSatisfaction').mean()['Salary']

JobSatisfaction
0.000000     53839.518909
1.000000     53683.115920
2.000000     53601.730496
3.000000     54210.392183
4.000000     53401.224667
5.000000     54317.530314
6.000000     55318.047394
6.957078     56397.333443
7.000000     55574.799532
8.000000     57335.307768
9.000000     58993.958867
10.000000    57681.901965
Name: Salary, dtype: float64

#### Result show that job satisfaction and salary has direct relationship between them.